*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
  width: 512px;
  margin: 0 auto;

}
img {
  max-width: 100%;
}
header
{
  padding: 1rem;


}

header nav
{
  display: flex;
  justify-content: space-between;
}

button
{
  border: none;
  background-color: transparent;
}

.user_profile
{
  text-align: center;


  p
  {
    padding: 2rem 0;

    a
    {
      text-decoration: none;
      color: black;
      font-weight: 500;

    }
  }

}

.profile_stats
{
  display: flex;
  justify-content: center;
  gap: 2rem;

  .stat
  {
  
    padding: 1rem;
  
    div
    {
      font-size: 10px;
    }
  }
}



.profile_actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;


  .btn-primary {
    flex-grow: 4;
  }
    .btn-outline{
    flex-grow: 1;
    }

}

.btn
{
  padding: 1rem;
}

.btn-lg
{
  padding: 1rem 3.5rem;
}

.btn-primary
{
  background-color: rgb(255, 42, 184);
  border: 1px solid rgb(255, 42, 184);
  color: white;
}

.btn-outline
{
  border: 1px solid lightgray;
}

/* Tabs */
.tabs
{
  display: flex;
  justify-content: space-around;

  button
  {
    font-size: 1.15rem;
    padding: 0.5rem;
  }

  button:first-child
  {
    border-bottom: 2px solid black;
  }
}


/* Posts */

.posts
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  .post
  {
    width: 33%;
    min-height: 300px;

    img {
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }

}

/* .posts .post img {

} */