/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');

/* Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img
{
  max-width: 100%;
}

/*  Css Variables */

:root
{
  --dis-page-bg: #191d7b;
  --dis-card-bg: #5d64d1;
  --dis-primary-btn: #5865f2;
  --dis-black: black;
  --dis-white: white;
}

body {
  /* background-color: #191d7b; */
  /* with css variables */
  background-color: var(--dis-page-bg);
  width: 512px;
}

