*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
} */


.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer
{
  height: 80px;
  background-color: red;
  flex-shrink: 0;
}

main {
  /* height: calc(100% - 160px); */
  flex-grow: 1;
  background-color: blue;
  overflow: auto;
}