/* Import the bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");  */

/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 512px;
  font-family: "Space Grotesk", sans-serif;
  background-image: url('https://pics.freeartbackgrounds.com/midle/Sea_Wave_on_Sand_Background-1229.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* #endregion Common */

/* #region Header */

header
{

  padding: 8px;
  border-bottom: 2px solid;
  background-color: #005188;
  color: rgb(255 255 255 / 90%);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(119 126 163);
  border-radius: 0 0 1rem 1rem;

}

/* #endregion Header */

/* #region Main */
main
{
  padding: 1rem 2rem;
  min-height: 500px;
}

.wireframe_card
{
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 1rem;
  min-height: 180px;
}

/* #endregion Main */

/* #region Footer */
footer
{
  padding: 8px;
  border-top: 2px solid;
}

/* #endregion Footer */