/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}
/* #endregion Common */

/* #region Header */

#site_header {
  padding: 8px;
  border-bottom: 2px solid;
}

/* #endregion Header */