/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}
/* #endregion Common */

/* #region Header */

#site_header {
  padding: 8px;
  border-bottom: 2px solid;
}

/* #endregion Header */

/* #region Main */
#site_main {
  padding: 1rem 2rem;
  min-height: 500px;
}

.wireframe_card{
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 1rem;
}

/* #endregion Main */