@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* #region Common */
:root
{
  --dis-sidebar-bg: #141318;
  --dis-main-bg: #1c1d22;
  --dis-footer-bg: #2d2d35;
  --dis-secondary-bg: #373a43;
  --dis-active-message-bg: #26262e;
  --dis-white: #fbfafb;
  --dis-text-color: #818285;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: "Montserrat", sans-serif;
 /*  width: 512px; */
}

img
{
  max-width: 100%;
}


.wrapper
{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer
{
  height: 80px;
  background-color: var(--dis-footer-bg);
  flex-shrink: 0;
}

.central-wrapper
{
  flex-grow: 1;
  background-color: var(--dis-sidebar-bg);
  display: flex;
  overflow: hidden;
}

/* #endregion Common */

/* #region Utilities */
.d-flex
{
  display: flex;
}

/* #endregion Utilities */

/* #region Sidebar */
.sidebar
{
  padding-top: 1rem;
  width: 60px;
  flex-shrink: 0;
  background-color: var(--dis-sidebar-bg);


  .server
  {
    padding: 0.5rem
  }

  li:first-child
  {
    position: relative;
  }

  li:first-child:before
  {
    content: '';
    position: absolute;
    left: 0;
    top: 1rem;
    display: inline-block;
    width: 4px;
    background-color: var(--dis-white);
    height: 2rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  li:not(:first-child) img
  {
    border-radius: 50%;
  }

}

/* #endregion Sidebar */



/* #region Main */
main
{
  flex-grow: 1;
  overflow-y: hidden;
  padding: 0.5rem;
  padding-right: 0;
  margin-top: 1rem;
  border-top-left-radius: 1rem;
  background: var(--dis-main-bg);
  color: var(--dis-text-color);


  header.messages_header
  {
    padding: 0.5rem;
    max-width: 900px;
    margin: 0 auto;
    h2
    {
      color: white;
      margin-bottom: 0.5rem;
    }

    &>div
    {
      display: flex;
      gap: 1rem;
    }

    button
    {
      border-style: none;
      background-color: var(--dis-secondary-bg);
      color: var(--dis-white);
      padding: 0.45rem 0.5rem;
    }

    .serach-btn
    {
      border-radius: 50%;
      display: flex;
      align-items: center;
      width: 2rem;
      height: 2rem;
      justify-content: center;
    }

    .add-friends-btn
    {
      flex-grow: 1;
      border-radius: 1rem;
    }
  }


  .messages
  {
    height: calc(100% - 85px);
    overflow: auto;
    max-width: 768px;
    margin: 0 auto;

    .message_item
    {
      display: flex;
      gap: 0.5rem;
      margin: 0.5rem 0;
      padding: 1rem;

      img
      {
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .message_details
      {
        flex-grow: 1;
        padding: 0.25rem;
      }

      .message_details_text,
      .last_time
      {
        font-size: 0.75rem;
      }

    }

    .message_item.active
    {
      background-color: var(--dis-active-message-bg);
      color: var(--dis-white);
      border-radius: 1rem;
    }
  }
}

/* #endregion Main */


/* Footer */

footer
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button
  {
    background-color: transparent;
    border-style: none;
    color: var(--dis-white);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: "Montserrat", sans-serif;

    img
    {
      border-radius: 50%;
    }

    i
    {
      font-size: 1.5rem;
    }

    span
    {
      font-size: 0.75rem;
    }
  }
}

/* Change the scrollbar 
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/
/* width */
::-webkit-scrollbar
{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
  background: #555;
}