.reel-header
{
  nav
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;

    .left i,
    .right i
    {
      font-size: 22px;
    }

    ul
    {
      list-style: none;
      display: flex;
      gap: 1rem;

      li
      {
        position: relative;
      }

      li:nth-child(2) a::after
      {
        content: '';
        position: absolute;
        top: -4px;
        left: 100%;

        padding: auto;
        display: block;
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 50%;
        opacity: .3;
      }

      li.active
      {
        a
        {
          color: white;
        }

        &::after
        {
          margin: 4px auto 0;
          content: "";
          display: block;
          width: 20px;
          height: 3px;
          background-color: white;
        }
      }

      a
      {
        color: rgba(255, 255, 255, 0.384);
        text-decoration: none;
      }
    }

  }
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-shadow: 0 0 4px gray;
  color: white;
  gap: 2rem;

  .item.logo
  {
    position: relative;

    img
    {
      width: 50px;
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  [class^="bi"]
  {
    font-size: 2rem;
    color: white;
  }

  [class="bi bi-plus"]
  {
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 24px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0.5rem);

  }

}

footer
{
  div {
    max-width: 80%;
    padding: 1rem;
    p {
      margin-top: 0.5rem;
    }
  }
  nav
  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 0;
    background-color: black;

    button.add {
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border-left: 2px solid cyan;
      border-right: 2px solid fuchsia;
    }

    a
    {
      position: relative;
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      i {
        font-size: 24px;
      }
      
      span {
        font-size: 10px;
      }
    }

    .notifications {
      position: absolute;
      top: 0;
      left: 60%;
      color: white;
      background-color: red;
      border-radius: 8px;
      padding: 1px 6px;
      font-size: 12px;
    }
  }
}