header.reel-header
{
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;

  a
  {
    color: rgba(255, 255, 255, 0.473);
    text-decoration: none;
  }

  .left,
  .right
  {
    font-size: 1.25rem;
  }



  ul
  {
    list-style: none;
    display: flex;
    gap: 1rem;


    li:nth-child(2)
    {
      position: relative;
    }

    li:nth-child(2)::after
    {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateY(-50%);
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: rgba(255, 0, 0, 0.336);
      border-radius: 50%;
    }

    li:last-child
    {

      a
      {
        color: white;
      }

      & ::after
      {
        content: '';
        display: block;
        width: 1.5rem;
        height: 3px;
        background-color: white;
        margin: 4px auto 0;

      }

    }



  }


}


.sidebar
{
  color: white;
  text-align: center;

  .item
  {
    position: relative;
    margin-bottom: 1.25rem;

    &>[class^='bi']
    {
      font-size: 2rem;
    }


  }

  .item .logo
  {
    border-radius: 50%;
    border: 2px solid white;
  }

  .plus_circle
  {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: red;
    width: 16px;
    height: 16px;
    line-height: 1;
    text-align: center;
    border-radius: 50%;
    transform: translateX(-50%);

  }





}


footer
{

  .description
  {
    padding: 1rem;
    max-width: 80%;
  }

  nav
  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    background-color: black;


    a:first-child
    {
      color: white;
    }

    a
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: gray;
      text-decoration: none;
      font-size: 1.5rem;
      position: relative;

      span
      {
        font-size: 10px;
      }
    }


    &>button
    {
      padding: 0.15rem 0.65rem;
      border-radius: .5rem;
      border: none;
      border-left: 2px solid cyan;
      border-right: 2px solid fuchsia;
      font-size: 1.25rem;
    }


    .notifications
    {
      position: absolute;
      top: 0;
      left: 2rem;
      background-color: red;
      padding: 1px 6px;
      border-radius: 8px;
      color: white;
    }

  }


}